# Database vars
DB_HOST = "localhost"
DB_USER = "root"
DB_PORT = 3306
DB_PASS = ""
DB_NAME = "senku_db"

# Bot 
BOT_TOKEN    = "YOUR_BOT_TOKEN"
BOT_ID       = ""
BOT_USERNAME = ""
BOT_CMD      = "! # $ / . , ¡"

# Others
CHANNEL_LOG = ""
ADMIN       = ""
MAX_EXECUTION_TIME = 58
TIME_ZONE          = "America/Lima"